.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.frm{
  height: 500px;
  width: 600px;
  border: 1px solid black;
  margin-top: 20px;
  background-color: #61c522;
}
.frm2{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.txt{
   margin-left: 10px;
   width: 280px;
   height: 40px;
   border-radius: 10px;
}
.agebox{
   margin-left: 23px;
}
.emailbox{
  margin-left: 15px;
}
.pwdbox{
  margin-right: 23px;
}
.addbox{
  margin-right: 13px;
}
.tbl{
  width: 100%;
}